<!-- START ARTISTS-NAVI -->
<div id="artists-nav" class="sp">
  <div id="artists-nav-inner">
    <ul>
      <li><strong><span>Yayoi Kusama</span><a href="/en/artists/y.kusama_p/yk_print1.html"><span>PRINT</span></a><a href="/en/artists/y.kusama/page_y_kusama.html"><span>CANVAS, OTHER</span></a></strong></li>
      <li><a href="/en/artists/t.tatsuno/page_t_tatsuno.html"><span>Toeko Tatsuno</span></a></li>
      <li><a href="/en/artists/k.minami/page_k_minami1.html"><span>Keiko Minami</span></a></li>
      <li><a href="/en/artists/r.fukui/page_r_fukui.html"><span>Ryonosuke Fukui</span></a></li>
      <li><a href="/en/artists/k.funakoshi/page_k_funakoshi.html"><span>Katsura Funakoshi</span></a></li>
      <li><a href="/en/artists/m.ikeda/page_m_ikeda.html"><span>Masuo Ikeda</span></a></li>
      <li><a href="/en/artists/t.okamoto/page_t_okamoto.html"><span>Taro Okamoto</span></a></li>
      <li><a href="/en/artists/"><span>collection</span></a></li>
    </ul>
    <p>
      <a href="javascript:void(0);" class="arrow">ARTISTS / COLLECTION</a>
    </p>
  </div>
</div>
<!-- END ARTISTS-NAVI -->
