<div id="footer-inner">
  <div class="flex">
    <div id="dealer">
      <img src="/static/img/logo_ja.svg" alt="GALLERY Sekiryu">
      <div id="sns-link">
        <a href="https://www.instagram.com/gallerysekiryu/" target="_blank" id="instagram">instagram</a>
        <a href="https://www.facebook.com/Gallery-Sekiryu-264366217836889/" target="_blank" id="facebook">facebook</a>
      </div>
    </div>
    <div id="address">
      <dl>
        <dt><strong>Matsumoto</strong></dt>
        <dd>2-17-10 Tsukama, Matsumoto-shi, Nagano-ken<br>
          390-0821 Japan<br>
          Tel: <span class="tel-linktext">0263-27-5396</span> / Fax: 0263-27-2351</dd>
        <dt><strong>Minami-Aoyama Room</strong></dt>
        <dd>#1139 Minamiaoyama2F 1-11-39 Minamiaoyama,<br>
            Minato-ku, Tokyo-to 107-0062 Japan<br>
          Tel / Fax: <span class="tel-linktext">03-6438-9690</span></dd>

      </dl>
    </div>
    <div id="sitemap">
      <dl>
        <dt><a href="/en/artists/" class="arrow">ARTISTS / COLLECTION</a></dt>
        <dt><a href="/en/exhibitions/" class="arrow">EXHIBITIONS</a></dt>
        <dd><a href="/en/exhibitions/">CURRENT</a></dd>
        <dd><a href="/en/exhibitions/past/">PAST</a></dd>
        <dt><a href="/en/about/" class="arrow">ABOUT</a></dt>
        <dt><a href="/en/contact/" class="arrow">CONTACT</a></dt>
      </dl>
    </div>
  </div>
  <p id="copyright">Copyright &copy; GALLERY SEKIRYU. <br class="sp">All rights reserved.</p>

  <!-- viewport 切り替え start -->
  <script>
   if (flag) {
       document.write('<div class="change-vp">');
       document.write('<p class="pc"><a href="/pc_sp.php?m=sp" class="full btn"><span>スマートフォンサイトを表示</span></a></p>');
       document.write('<p class="sp"><a href="/pc_sp.php?m=pc" class="full btn"><span>PCサイトを表示</span></a></p>');
       document.write('</div>');
   }
  </script>
  <!-- viewport 切り替え end -->
</div>
