{% extends "en/base_e.html" %}
{% block content %}

<!-- START CONTENTS -->
<article id="right">
  <section id="feature" class="load lazyload">

    <div id="slider">


      <!-- START ARTISTS -->
      <div class="photo">
        <div class="art">
          <a href="/about/">
            <img class="load lazyload img-ofi img-full" data-src="/static/img/top/2003matsumoto.jpg" alt="ギャラリー石榴 松本">
          </a>
        </div>
        <dl class="art-info">
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">Gallery Sekiryu Matsumoto</span><br>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->


      <!-- START ARTISTS -->
        <div class="artists">
        <div class="art">
          <a href="https://g-sekiryu.com/artists/t.tatsuno/page_t_tatsuno.html">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_c.jpg" alt="辰野登恵子">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3687　April-9-2000</dt>
          <dd>oil on canvas</dd>
          <dd>145.5 × 112cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">Toeko Tatsuno</span><br>
            <span class="desc">April-9-2000</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="photo">
        <div class="art">
          <a href="https://g-sekiryu.com/artists/k.funakoshi/page_k_funakoshi.html">
            <img class="load lazyload img-ofi img-full" data-src="/static/img/top/201912_f.jpg" alt="舟越 桂">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.2424　Words on the Wall</dt>
          <dd>Aquatint, drypoint</dd>
          <dd>76 × 56 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">Katsura Funakoshi</span><br>
            <span class="desc">Words on the Wall</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="photo">
        <div class="art">
          <a href="/artists/#s.sano">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_i.jpg" alt="佐野繁次郎">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3181 Atelier</dt>
          <dd>Papier collé (cloth, canvas, thread, hemp twine, pencil on paper)</dd>
          <dd>19.1 × 19.2 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">Shigejiro Sano</span><br>
            <span class="desc">Atelier</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="artists">
        <div class="art">
          <a href="/artists/m.ikeda/page_m_ikeda.html">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_d.jpg" alt="池田 満寿夫">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3681 Rectangle</dt>
          <dd>Drypoint, roulette</dd>
          <dd>21.0 × 15.0 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">Masuo Ikeda</span><br>
            <span class="desc">Rectangle</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="artists">
        <div class="art">
          <a href="/artists/t.okamoto/page_t_okamoto.html">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_b.jpg" alt="岡本 太郎">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.2760 Gaze</dt>
          <dd>screenprint</dd>
          <dd>51.4 × 37.1 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">Taro Okamoto</span><br>
            <span class="desc">Gaze</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="photo">
        <div class="art">
          <a href="/artists/#f.nanbata">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_j.jpg" alt="難波田史男">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3698 City in the Water 4</dt>
          <dd>ink, watercolor on paper</dd>
          <dd>21 × 31.8 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">Fumio Nanbata</span><br>
            <span class="desc">City in the Water 4</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="photo">
        <div class="art">
          <a href="/artists/#s.osone">
            <img class="load lazyload img-ofi img-full" data-src="/static/img/top/202001.jpg" alt="大曽根俊輔">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3672　Mini-pig "Chaco" (lying)</dt>
          <dd>Wood-core dry lacquer (mokushin kanshitsu), Japanese lacquer, walnut, hemp colored with Japanese lacquer</dd>
          <dd>10.5 × 37.7 ×21.1 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">Shunsuke Osone</span><br>
            <span class="desc">Mini-pig "Chaco" (lying)</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

    </div>

    <div class="circle play">
      <span class="cover1"></span>
      <span class="cover2"></span>
    </div>

  </section>

  <!-- START INFORMATION -->
  <section id="info">
    <div id="info-inner">
      <h2>INFORMATION</h2>
      <dl class="fbox">
        <dt>2020.04.18<span>What's New</span></dt><dd><a href="/artists/#y.domoto" class="next">The drawing by YUUMI DOMOTO is uploaded.</a></dd>
        <dt>2020.04.16<span>What's New</span></dt><dd><a href="https://www.instagram.com/gallerysekiryu/" class="next">Please visit our Instagram as well!</a></dd>
        <dt>2020.03.01<span>What's New</span></dt><dd><a href="/artists/#s.suga" class="next">The oil painting by SOKICHI SUGA is uploaded.</a></dd>
      </dl>
    </div>
  </section>
  <!-- END INFORMATION -->

  <!-- START ARTISTS-COLLECTION -->
  <section id="artists-collection">

    <div class="flex">
      <div id="artists-img">
        <h2>SELECTED ARTISTS</h2>
        <ul class="fbox">
          <li style="background-image:url('/static/img/top/kusama_cambus.png');"></li>
          <li style="background-image:url('/static/img/top/kusama_print.png');"></li>
          <li style="background-image:url('/static/img/top/tatsuno.png'),url('/static/img/top/bg.jpg');"></li>
          <li style="background-image:url('/static/img/top/minami.png');"></li>
          <li style="background-image:url('/static/img/top/fukui.png'),url('/static/img/top/bg.jpg')"></li>
          <li style="background-image:url('/static/img/top/funakoshi.png');"></li>
          <li style="background-image:url('/static/img/top/ikeda.png');"></li>
          <li style="background-image:url('/static/img/top/okamoto.png');"></li>
        </ul>
      </div>

      <div id="artists-list">
        <ul id="pickup">
          <li class="w">
            <strong>YAYOI KUSAMA</strong>
            <a data-img="/static/img/top/kusama_cambus.png" data-artist="YAYOI KUSAMA" data-text="Acrylic or oil on canvas, gouache or collage on paper and objects, etc (The non-print work)" href="/en/artists/y.kusama/page_y_kusama.html"><span class="arrow">CANVAS, OTHER</span></a>
            <a data-img="/static/img/top/kusama_print.png" data-artist="YAYOI KUSAMA" data-text="250 prints across three styles (Screenprint, Lithograph and Copperplate print)" href="/en/artists/y.kusama/yk_print1.html"><span class="arrow">PRINT</span></a></li>
          <li style="background-image:url('/static/img/top/bg_sp.jpg');"><a data-img="/static/img/top/tatsuno.png" data-artist="TOEKO TATSUNO" data-text="Oil paintings, drawings and prints" href="/en/artists/t.tatsuno/page_t_tatsuno.html"><span>TOEKO TATSUNO</span></a></li>
          <li><a data-img="/static/img/top/minami.png" data-artist="KEIKO MINAMI" data-text="Early works in Paris" href="/en/artists/k.minami/page_k_minami1.html"><span>KEIKO MINAMI</span></a></li>
          <li style="background-image:url('/static/img/top/bg_sp.jpg');"><a data-img="/static/img/top/fukui.png" data-artist="RYONOSUKE FUKUI" data-text="Mimeographs in the 1960s" href="/en/artists/r.fukui/page_r_fukui.html"><span>RYONOSUKE FUKUI</span></a></li>
          <li><a data-img="/static/img/top/funakoshi.png" data-artist="KATSURA FUNAKOSHI" data-text="Drawings and prints" href="/en/artists/k.funakoshi/page_k_funakoshi.html"><span>KATSURA FUNAKOSHI</span></a></li>
          <li><a data-img="/static/img/top/ikeda.png" data-artist="MASUO IKEDA" data-text="Early prints in the 1960s" href="/en/artists/m.ikeda/page_m_ikeda.html"><span>MASUO IKEDA</span></a></li>
          <li><a data-img="/static/img/top/okamoto.png" data-artist="TARO OKAMOTO" data-text="Prints and sculputure" href="/en/artists/t.okamoto/page_t_okamoto.html"><span>TARO OKAMOTO</span></a></li>
        </ul>
      </div>
    </div>

    <div id="artist-name" class="flex">
      <p>YAYOI KUSAMA</p>
      <span>Acrylic or oil on canvas, gouache or collage on paper and objects, etc. (The non-print work)</span>
    </div>

    <div id="other">
      <h2>OTHER ARTISTS</h2>
      <ul>

        <li><a href="/en/artists/#a.koeppe"><span>Astrid Koeppe</span></a></li>

        <li><a href="/en/artists/#b.nicholson"><span>Ben Nicholson</span></a></li>

        <li><a href="/en/artists/#b.shahn"><span>Ben Shahn</span></a></li>

        <li><a href="/en/artists/#c.hamada"><span>Chimei Hamada</span></a></li>

        <li><a href="/en/artists/#y.domoto"><span>Domoto Yuumi</span></a></li>

        <li><a href="/en/artists/#g.inokuma"><span>Genichiro Inokuma</span></a></li>

        <li><a href="/en/artists/#h.noda"><span>Hiroshi Noda</span></a></li>

        <li><a href="/en/artists/#j.oyamada"><span>Jiro Oyamada</span></a></li>

        <li><a href="/en/artists/#k.okada"><span>Kenzo Okada</span></a></li>

        <li><a href="/en/artists/#k.enokura"><span>Koji Enokura</span></a></li>

        <li><a href="/en/artists/#k.kaneko"><span>Kuniyoshi Kaneko</span></a></li>

        <li><a href="/en/artists/#l.freud"><span>Lucian Freud</span></a></li>

        <li><a href="/en/artists/#s.motonaga"><span>Motonaga Sadamasa</span></a></li>

        <li><a href="/en/artists/#f.nanbata"><span>Nanbata Fumio</span></a></li>

        <li><a href="/en/artists/#o.redon"><span>Odilon Redon</span></a></li>

        <li><a href="/en/artists/#r.kamoi"><span>Rei Kamoi</span></a></li>

        <li><a href="/en/artists/#r.hasegawa"><span>Rinjiro Hasegawa</span></a></li>

        <li><a href="/en/artists/#r.shimomura"><span>Ryonosuke Shimomura</span></a></li>

        <li><a href="/en/artists/#r.kishida"><span>Ryusei Kishida</span></a></li>

        <li><a href="/en/artists/#s.aso"><span>Saburo Aso</span></a></li>

        <li><a href="/en/artists/#s.akutagawa"><span>Saori Akutagawa</span></a></li>

        <li><a href="/en/artists/#s.sano"><span>Shigejiro Sano</span></a></li>

        <li><a href="/en/artists/#s.yotsuya"><span>Shimon Yotsuya</span></a></li>

        <li><a href="/en/artists/#s.ohtake"><span>Shinro Ohtake</span></a></li>

        <li><a href="/en/artists/#s.osone"><span>Shunsuke Osone</span></a></li>

        <li><a href="/en/artists/#s.takiguchi"><span>Shyuzo Takiguchi</span></a></li>

        <li><a href="/en/artists/#s.suga"><span>Sokichi Suga</span></a></li>

        <li><a href="/en/artists/#t.ikeda"><span>Tatsuo Ikeda</span></a></li>

        <li><a href="/en/artists/#t.arimoto"><span>Toshio Arimoto</span></a></li>

        <li><a href="/en/artists/#t.isoe"><span>Tsuyoshi Isoe</span></a></li>

        <li><a href="/en/artists/#c.vija"><span>Vija Celmins</span></a></li>

        <li><a href="/en/artists/#y.kuniyoshi"><span>Yasuo Kuniyoshi</span></a></li>

        <li><a href="/en/artists/#y.funakoshi"><span>Yasutake Funakoshi</span></a></li>

        <li><a href="/en/artists/#y.yamamoto"><span>Yoko Yamamoto</span></a></li>

        <li><a href="/en/artists/#y.hamaguchi"><span>Yozo Hamaguchi</span></a></li>

        <li><a href="/en/artists/#y.katsura"><span>Yuki Katsura</span></a></li>

      </ul>
    </div>
  </section>
  <!-- END ARTISTS-COLLECTION -->

  <!-- START EXHIBITION -->
  <section id="exhi" class="flex">
    <h2>EXHIBITIONS</h2>
    <div id="exhi-img">
      <a href="/exhibitions/"><img class="load lazyload img-ofi" data-src="/static/img/top/201909.jpg"></a>
      <dl class="art-info">
        <dt>Yayoi Kusama, Earth</dt><br>
        <dd>1980</dd>
        <dd>collage, pastel, pen on paper</dd>
        <dd>65.2 × 51 cm</dd>
      </dl>
    </div>
    <div id="exhi-text">
      <p></p>
      <p id="exhi-ttl">Biomorphism by women<span>Organic Forms by Four Female Artists</p>
        <div class="date flex">
          <!--   <p class="place">南青山Room</p>
               <p class="md">04.06</p>
               <p class="yaji"></p>
               <p class="md">04.21</p>-->

          <p class="place">ART TAIPEI</p>
          <p class="md">10.18</p>
          <p class="yaji"></p>
          <p class="md">10.21</p>
          <p><a href="https://2019.art-taipei.com/taipei/en/"><img src="/static/img/top/at_logo_1.png" alt="art-taipei" width="200" height="113" border="0"></a></p>
        </div>
        <p><a href="/exhibitions/" class="btn">EXHIBITION</a></p>
    </div>
  </section>

  <!-- START ABOUT -->
  <section id="about" class="flex">
    <h2>ABOUT</h2>
    <div id="about-img">
      <a href="/about/">
        <div class="flex">
          <p><img class="load lazyload" data-src="/static/img/top/about01.jpg">Matsumoto</p>
          <p><img class="load lazyload" data-src="/static/img/top/about02.jpg">Minami-Aoyama Room</p>
        </div>
      </a>
    </div>
    <div id="about-text">
      <p>We have two galleries in Matsumoto City and Minami-Aoyama, Tokyo. You can check our business hours, how to access them from here.</p>
      <p><a href="/about/" class="btn">ABOUT US</a></p>
    </div>
  </section>
  <!-- END ABOUT -->

  <section class="fbtn">
    <a href="/contact/">
      <h2 class="arrow">CONTACT</h2>
      <p>Inquiries about works or exhibitions</p>
    </a>
  </section>

</article>
<!-- END CONTENTS -->

{% endblock %}
