{% extends "en/base_e.html" %}
{% block content %}

<!-- START CONTENTS -->
<article id="right">

  <ul id="pkz">
    <li><a href="/">TOP</a></li>
    <li>EXHIBITIONS</li>
  </ul>

  <!-- START タイトル -->
  <div class="ttl flex">
    <strong class="eng">EXHIBITIONS</strong>
    <p></p>
    <h1>
      <span class="title">Biomorphism by women</span><br>
      <span class="desc">女性たちによる有機的形象<br>
    </h1>
  </div>
  <!-- END タイトル -->

  <!-- START メインビジュアル -->
  <div id="slider">
    <div class="exhibition">
      <a href="/artists/y.kusama/page_y_kusama.html"><img class="load lazyload" data-src="/static/img/top/201909.jpg" alt="Biomorphism in women"></a>
      <dl class="art-info">
        <dt>草間彌生</dt>
        <dt>地球/Earth</dt>
        <dd>1980年</dd>
        <dd>コラージュ､パステル､ペン･紙</dd>
        <dd>65.2 × 51 cm</dd>
      </dl>
    </div>
  </div>
  <!-- END メインビジュアル -->

  <div id="desc">

    <!-- START 会期・会場 -->
    <dl class="flex">
      <dt>会期・会場</dt>
      <dd>

  <div id="desc">
          <div class="date flex">
          <p class="place">ART TAIPEI</p>
          <p class="y">2019</p>
          <p class="md">10.18</p>
          <p class="w">(fri)</p>

          <p class="yaji"></p>

          <p class="md">10.21</p>
          <p class="w">(mon)</p>
        </div>
      </dd>
    </dl>

    <!-- START 概要 -->
    <dl class="flex">
      <dt>概要</dt>
      <dd>
        <p>この度、ギャラリー石榴は台北にて開催されるART TAIPEI 2019に参加いたします。
        ビオモルフィズム(Biomorphism)とはギリシャ語の'bios' (生命を意味する)と'morphe' (カタチを意味する)に由来する言葉です。どこか植物や生き物、人のカタチを思い起こさせる有機的な形象をテーマに、4人の女性作家（草間彌生、芥川紗織、桂ゆき、Astrid Koeppe）を特集します。
        お近くにいらした際はぜひBooth J10にお立ち寄りください。</p>

        <p>We are pleased to participate in the Art Taipei 2019.
        Biomorphism comes from combining the Greek words ‘bios,’ meaning life, and ‘morphe,’ meaning form.
        Our exhibition features four female artists (Yayoi Kusama, Saori Akutagawa, Yuki Katsura, Astrid Koeppe) on the theme of organic forms, which refer to, or evoke, living things such as plants or the human body.
        Please visit us at Booth J10.</p>
      </dd>
    </dl>

    <!-- END 概要 -->

    <dl class="flex">
      <dt></dt>
      <dd class="flex">
        <div class="mr5">
          <a href="https://2019.art-taipei.com/taipei/en/">
        <img src="/static/img/top/at_logo_1.png" alt="art-taipei" width="200" height="113" border="0">
          </a>
        </div>
        <div class="mt2 mt2s">
          <p>Taipei World Trade Center Exhibition Hall 1<br>
          No.5, Sec. 5, Xinyi Rd., Xinyi Dist., Taipei City 110, Taiwan<br>
          <a href="https://2019.art-taipei.com/taipei/en/">more info</a></p>
        </div>
      </dd>
    </dl>

    <!-- START 出品作品 -->
    <dl class="flex">
      <dt>出品作品</dt>
      <dd>
        <div class="art-list-wrapper">
          <ul class="flex art-list">
            <li>
              <a href="/artists/#s.akutagawa">
                <div class="art load lazyload" data-bg="/static/art/img/t/3487_s.akutagawa.jpg" title="芥川紗織 : 4人の女"></div>
                <div class="name">
                  <h4>芥川紗織</h4>
                  <span>No.3487</span>
                  <h3>4人の女</h3>
                  <p>1954年<br>
                  布に染色<br>
                    130 × 89 cm</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/artists/#y.katsura">
                <div class="art load lazyload" data-bg="/static/art/img/t/3469_y.katsura.jpg" title="桂ゆき : 狐"></div>
                <div class="name">
                  <h4>桂ゆき</h4>
                  <span>No.3469</span>
                  <h3>狐</h3>
                  <p>制作年不詳<br>
                  板に油彩<br>
                    21 × 15 cm</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/artists/#a.koeppe">
                <div class="art load lazyload" data-bg="/static/art/img/t/3699_a.koeppe.jpg" title="Astrid Koeppe : Untitled"></div>
                <div class="name">
                  <h4>Astrid Koeppe</h4>
                  <span>No.3699</span>
                  <h3>Untitled</h3>
                  <p>2011年<br>
                  紙にインク、鉛筆<br>
                    27.9 × 21 cm</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
    <!-- END 出品作品 -->

    <!-- START リーフレット -->
    <dl class="flex">
      <dt>リーフレット</dt>
      <dd class="flex">
        <div class="mr5">
          <a href="/static/img/exhibitions/2019.10_biomorphism_book.pdf" target="_blank"class="no-icon">
          <img class="load lazyload"data-src="/static/img/exhibitions/2019.10_biomorphism.jpg" width="150"  alt="台北リーフレット">
          </a>
        </div>
        <div class="mt2 mt2s">
          <p></p>
        </div>
      </dd>
    </dl>
    <!-- END リーフレット -->

    <!-- START 出品作家 -->
    <dl class="flex">
      <dt>出品作家</dt>
      <dd>
        <p><a href="/artists/y.kusama/page_y_kusama.html">草間彌生 Yayoi Kusama [1929- ]</a></p>
        <p>ドット(水玉)とネット(網)というシンプルな構成原理で展開される作品の世界はどれも、幾何学的形象の冷たさとは対極にあって、生命を感じさせる有機的なエネルギーに満ちています。1950年代から発表を始め、作家自身の心の病から出発しつつも、顕微鏡的なミクロと宇宙的なマクロとを行き来するような、普遍性を伴った未知なる地平を現在も提示し続け、世界で圧倒的な支持を得ています。</p>
        <p>Every piece of her work, which composes a simple principle of polka dots and nets, is full of organic energy with something like life. Since she started to present her work in the 1950s, her pieces come from her unique perspective due to mental illness, but they also achieve the universality, crossing back and forth between the small world through a microscope and the cosmic-vision. She has shown an unknown side of art and has won outstanding recognition in the world.</p>
      　<!--<p>草間彌生以簡單的圓點及網格所構成的作品世界中，與幾何學的冰冷形象恰恰相反，?的作品總是令人感受到滿溢的能量與生命力。從1950年代開始發?作品，除了以個人的?在動機為出發點，草間彌生更彷彿交錯在細緻的微觀與宇宙的宏觀之間，持續用?不失普遍性的作品向人們展示著藝術世界中未知的領域，受到世人壓倒性的支持。</p> -->
      </dd>
    </dl>
    <dl class="flex">
      <dt></dt>
      <dd>
        <p><a href="/artists/#s.akutagawa">芥川紗織 Saori Akutagawa ［1924-1966］</a></p>
        <p>絵画のヒエラルキーを無視し、キャンバスではなく薄いリネンに描くこと。多くの画家がマチエールを求めた時代、凹凸を排したフラットな画面として。1950年代後半に集中的に制作された染色による作品にはどれも、怒り、悲しみ、笑う、力強い女たちが描かれます。草間より5歳年長の同時代の作家で、42才の若さで妊娠中毒症のため早逝してしまいますが、短い活動期間に残したラディカルな作品群に注目が集まっています。</p>
        <p>Ignoring the unspoken rule of the art field to paint using oil, she painted using a technique of dyeing thin pieces of cloth to make flat images in a time when most artists preferred to experiment with “matiere” oil paintings. Pieces which she intensively painted in the late 1950s depict images of passionate women, getting angry, grieving and laughing. She was five years older than Yayoi Kusama and a contemporary of hers, but her life was cut short at the young age of 42 because of complications during pregnancy. The radical work which she created in her short career is now getting attention.</p>
        <!--<p>芥川紗織不顧繪畫界以畫材區分作品層級的潛規則，在油畫當道，多數畫家追求凹凸明顯的材質與肌理（matiere）的時代，?卻捨棄油畫與帆布，選擇以沒有凹凸起伏的薄亞麻布作畫。?於1950年代後半所集中製作的染色作品，?一件都描繪了或憤怒，或悲傷，或大笑的奔放女性。芥川紗織是位比草間彌生大5?的同年代作家，雖在年僅42?就因妊娠毒血症去世，但在?短暫創作生涯中所留下的激昂不羈的作品，仍持續受到世人的關注。</p> -->
      </dd>
    </dl>
    <dl class="flex">
      <dt></dt>
      <dd>
        <p><a href="/artists/#y.katsura">桂ゆき Yuki Katsura [1913-1991]</a></p>
        <p>1930年代から90年代に至るまで発表を続け、女性前衛作家のパイオニアとして知られるのみならず、前衛美術史上、突出してビザールな作家です。物質の表皮に対する触覚的な執着と、編集的な画面構成がもたらすユーモアには独特の起爆力があります。生誕100年を越えて以降じわじわと、どのイズムにも分類しがたい孤高の在りようが、むしろ現代に逆照射されるかたちで理解され、評価が進んできた作家です。</p>
        <p>While Yuki Katsura is best-known as a pioneer avant-garde female artist who had a long career from the 1930s to the 1990s, she is also an outstanding ‘bizarre’ artist in avant-garde art history. Her keen love for the surface texture of objects through tactile perception and her somewhat humorously edited images have an unprecedented explosive effect. Since the 100th anniversary of her birth, she has steadily been getting recognition, because we can grasp her unrivalled talent which we can’t classify to any school. It’s time we should get to know her better than before.</p>
        <!--<p>從1930年代到1990年代持續地發布作品，桂ゆき（Yuki KATSURA）不僅被稱為女性前衛作家的先驅，更是一位前衛藝術史上傑出的鬼才藝術家。?對於不同材質表面的觸覺之執著，以及幽默的畫面編排，形成?作品中獨特的爆發力。過去，?前衛的風格因無法被歸類為任何主義而曲高和寡，給人孤高難解的形象；然而，在誕生逾百年後的今日，人們才逐漸開始發現?作品中的意義與價?，對於桂ゆき（Yuki KATSURA）的評價也隨之水漲船高。</p> -->
      </dd>
    </dl>
    <dl class="flex">
      <dt></dt>
      <dd>
        <p><a href="/artists/#a.koppe">アストリッド・コッペ  Astrid Koeppe [1974- ]</a></p>
        <p>2003年以降、コッペはA4サイズの同一フォーマットにドローイングを続けています。どこか植物や動物、菌類、鉱物などを思わせ、何かのハイブリットのようでもある不思議なオブジェは、見る側のさまざまな解釈を呼び込みます。作家が現実に目にした何かを起点に、驚くべき繊細な描き込みで生み出される形象。それらはどこまでも分類不能な何かとしてゆれ続けることで、私たちを魅了します。ベルリン在住で、欧米やアジアでも広く紹介される気鋭の作家です。</p>
        <p>Since 2003, Astrid Koeppe has been drawing on paper strictly in the same size: A4, portrait format. The mysterious objects in her drawings look like plants, animals, minerals, fungi, or some alien hybridized combination of these, and invites multiple interpretations. She creates the shapes which are based on things that she has actually seen with amazingly refined technique. However, their balance between certainty and uncertainty attracts us as it's something impossible to classify or name. She currently lives and works in Berlin, and has widely exhibited in Europe, the US, and Asia.</p>
        <!--<p>自2003年，Astrid KOPPE就持續地以A4大小的單一規格作畫。?筆下像是植物又像動物，像菌類甚至礦物的作品，彷彿某種不可思議的混合體之藝術品，使得觀者對作品也有多重的解釋。作者以現實中看見的事物為出發點，再以令人驚嘆的纖細筆觸繪出這些形體；而這些奇妙形體無法被歸類為任何類別的這一特點，正是它們吸引人的地方。現居德國柏林，Astrid KOPPE是位在歐美及亞洲都正嶄露頭角的作家。</p> -->
      </dd>
    </dl>
    <!-- END 出品作家 -->
  </div>

  <section class="fbtn">
    <a href="past/">
      <p class="arrow">PAST</p>
      <p>過去の展覧会</p>
    </a>
  </section>
</article>
<!-- END CONTENTS -->


{% endblock %}
