{% extends "base.html" %}
{% block content %}

<!-- START CONTENTS -->
<article id="right">

  <ul id="pkz">
    <li><a href="/">TOP</a></li>
    <li>PRIVACY POLICY</li>
  </ul>

  <div class="ttl flex">
    <h1>
      <span class="title eng">PRIVACY POLICY</span>
      <span class="desc">プライバシーポリシー</span>
    </h1>
  </div>

  <p>ギャラリー石榴 / With YoU株式会社（以下「当社」）は、個人情報の保護を社会的責務であると考え、お客様に安心してご利用いただけるWEBサイトの管理・運営を行うため、以下のとおり個人情報保護方針を定め、全従業員に周知徹底するとともにこれを確実に実行いたします。</p>

  <dl class="list flex">
    <dt>個人情報の管理</dt>
    <dd>
      <p>当社は、お問い合わせの際に送信いただく個人情報（お名前、メールアドレス、電話番号、ご住所等）について、適切かつ安全な管理を行います。それらの情報を正確かつ最新の状態に保ち、厳重に保管するとともに、セキュリティシステムの維持・管理体制の整備を講じ、データの漏洩、改ざん等が起こらないようその保護に努めます。</p>
    </dd>
    <dt>個人情報の利用目的</dt>
    <dd>
      <p>お客さまからお預かりした個人情報は、当社からのご連絡や作品等のご発送、及び展覧会や作家・作品情報のご案内、その他ご質問に対する回答として、電子メールや郵便物のご送付に利用いたします。またお客さまのお申し出があれば、情報等の送付を中止いたします。利用目的を逸脱して当該情報を利用することはいたしません。</p>
    </dd>
    <dt>個人情報の第三者への開示・<br class="pc">提供の禁止</dt>
    <dd>
      <p>当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
      <ul class="style01">
        <li>お客さまの同意がある場合</li>
        <li>お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合</li>
        <li>法令に基づき開示することが必要である場合</li>
      </ul>
    </dd>
    <dt>個人情報の安全対策</dt>
    <dd>
      <p>当社は、個人情報の正確性及び安全性保護のために、セキュリティに万全の対策を講じています。個人情報の入力時には、これらの情報が傍受、妨害または改ざんされることを防ぐ目的で
        SSL（Secure Sockets Layer）を採用しております。<br>
        ※SSLは通信を暗号化することで、第三者からの情報盗難やデータの改ざんを防止する機能のことです。</p>
      <p><span id="ss_gmo_img_wrapper_130-66_image_ja">
        <a href="https://jp.globalsign.com/" target="_blank" rel="nofollow">
          <img alt="SSL　GMOグローバルサインのサイトシール" border="0" id="ss_img" src="//seal.globalsign.com/SiteSeal/images/gs_noscript_130-66_ja.gif">
        </a>
      </span>
      <script type="text/javascript" src="//seal.globalsign.com/SiteSeal/gmogs_image_130-66_ja.js" defer="defer"></script>
      </p>
    </dd>
    <dt>ご本人の照会</dt>
    <dd>
      <p>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>
    </dd>
    <dt>法令、規範の遵守と見直し</dt>
    <dd>
      <p>当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
    </dd>
    <dt>お問い合わせ</dt>
    <dd>
      <p>当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
      <p><a href="/contact/" class="btn">CONTACT</a></p>
    </dd>
  </dl>
</article>
<!-- END CONTENTS -->

{% endblock %}
