<!-- START ARTISTS-NAVI -->
<div id="artists-nav" class="sp">
  <div id="artists-nav-inner">
    <ul>
      <li><strong><span>草間 彌生</span><a href="/artists/y.kusama_p/yk_print1.html"><span>PRINT</span></a><a href="/artists/y.kusama/page_y_kusama.html"><span>CANVAS, OTHER</span></a></strong></li>
      <li><a href="/artists/t.tatsuno/page_t_tatsuno.html"><span>辰野 登恵子</span></a></li>
      <li><a href="/artists/k.minami/page_k_minami1.html"><span>南 桂子</span></a></li>
      <li><a href="/artists/r.fukui/page_r_fukui.html"><span>福井 良之助</span></a></li>
      <li><a href="/artists/k.funakoshi/page_k_funakoshi.html"><span>舟越 桂</span></a></li>
      <li><a href="/artists/m.ikeda/page_m_ikeda.html"><span>池田 満寿夫</span></a></li>
      <li><a href="/artists/t.okamoto/page_t_okamoto.html"><span>岡本 太郎</span></a></li>
      <li><a href="/artists/a.koeppe/page_a_koeppe.html"><span>アストリッド・コッペ</span></a></li>
      <li><a href="/artists/"><span>collection</span></a></li>
    </ul>
    <p>
      <a href="javascript:void(0);" class="arrow">ARTISTS / COLLECTION</a>
    </p>
  </div>
</div>
<!-- END ARTISTS-NAVI -->
