<div id="fixed-nav" class="fixedsticky">
  <div id="logo">
    <p><a href="/">{{title}}ギャラリー石榴 : 松本と青山で美術作品の展示と販売</a></p>
    <br>
    <a href="/" id="artists-nav-top">Japanese</a> | <a href="/en/" id="artists-nav-top">English</a>
  </div>
  <nav id="nav">
    <ul>
      <li class="sp"><a href="/">TOP</a></li>
      <li><a href="/artists/" id="artists-nav-top">ARTISTS / COLLECTION</a>
        <ul class="nav-child" id="artists-nav-child">
          <li><strong><span>草間 彌生</span></strong>
            <ul id="kusama-nav-child">
              <li><a href="/artists/y.kusama/page_y_kusama.html">CANVAS, OTHER</a></li>
              <li><a href="/artists/y.kusama_p/yk_print1.html">PRINT</a></li>
            </ul>
          </li>
          <li><a href="/artists/t.tatsuno/page_t_tatsuno.html"><span>辰野 登恵子</span></a></li>
          <li><a href="/artists/k.minami/page_k_minami1.html"><span>南 桂子</span></a></li>
          <li><a href="/artists/r.fukui/page_r_fukui.html"><span>福井 良之助</span></a></li>
          <li><a href="/artists/k.funakoshi/page_k_funakoshi.html"><span>舟越 桂</span></a></li>
          <li><a href="/artists/m.ikeda/page_m_ikeda.html"><span>池田 満寿夫</span></a></li>
          <li><a href="/artists/t.okamoto/page_t_okamoto.html"><span>岡本 太郎</span></a></li>
          <li><a href="/artists/">COLLECTION</a></li>
        </ul>
      </li>
      <li><a href="/exhibitions/">EXHIBITIONS</a>
        <ul class="nav-child" id="past-nav-child">
          <li><a href="/exhibitions/past/#y2019">2019</a></li>
          <li><a href="/exhibitions/past/#y2018">2018</a></li>
          <li><a href="/exhibitions/past/#y2017">2017</a></li>
          <li><a href="/exhibitions/past/#y2016">2016</a></li>
          <li><a href="/exhibitions/past/#y2015">2015</a></li>
          <li><a href="/exhibitions/past/#y2014">2014</a></li>
          <li><a href="/exhibitions/past/#y2013">2013</a></li>
          <li><a href="/exhibitions/past/#y2012">2012</a></li>
          <li><a href="/exhibitions/past/#y2011">2011</a></li>
          <li><a href="/exhibitions/past/#y2010">2010</a></li>
          <li><a href="/exhibitions/past/#y2009">2009 later year</a></li>
        </ul>
      </li>
      <li><a href="/about/">ABOUT</a></li>
      <li><a href="/contact/">CONTACT</a></li>
      <li class="sp"><a href="/site/">SITE POLICY</a></li>
      <li class="sp"><a href="/privacy/">PRIVACY POLICY</a></li>
    </ul>
  </nav>
  <div id="search">
    <form action="/search/" method="get" id="srch" accept-charset="UTF-8">
      <input type="text" name="q" id="search-txt" placeholder="SEARCH">
      <input type="image" src="/static/img/search.svg" id="search-btn">
    </form>
  </div>
  <ul id="utility">
    <li><a href="/site/">SITE POLICY</a></li>
    <li><a href="/privacy/">PRIVACY POLICY</a></li>
  </ul>
  <p id="pagetop"><a href="#sekiryu"></a></p>
  <div id="sp-nav" class="sp">
    <p id="sp-menu">
      <a href="javascript:void(0);">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </p>
    <p id="search-icon"><a href="javascript:void(0);"><img src="/static/img/search.svg" width="20" height="20"></a></p>
  </div>
</div>
