{% extends "base.html" %}
{% block content %}

<!-- START CONTENTS -->
<article id="right">
  <section id="feature" class="load lazyload">

    <div id="slider">


      <!-- START ARTISTS -->
      <div class="photo">
        <div class="art">
          <a href="/about/">
            <img class="load lazyload img-ofi img-full" data-src="/static/img/top/2003matsumoto.jpg" alt="ギャラリー石榴 松本">
          </a>
        </div>
        <!--<dl class="art-info">
          <dt>4月常設展</dt>
        </dl> -->
        <div class="ttl">
          <h1>
            <span class="title">ギャラリー石榴 松本</span><br>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->


      <!-- START ARTISTS -->
        <div class="artists">
        <div class="art">
          <a href="https://g-sekiryu.com/artists/t.tatsuno/page_t_tatsuno.html">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_c.jpg" alt="辰野登恵子">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3687　April-9-2000</dt>
          <dd>キャンバスに油彩</dd>
          <dd>145.5 × 112cm (80号)</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">辰野登恵子</span><br>
            <span class="desc">April-9-2000</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="photo">
        <div class="art">
          <a href="https://g-sekiryu.com/artists/k.funakoshi/page_k_funakoshi.html">
            <img class="load lazyload img-ofi img-full" data-src="/static/img/top/201912_f.jpg" alt="舟越 桂">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.2424　壁の上の言葉</dt>
          <dd>アクアチント・ドライポイント</dd>
          <dd>76 × 56 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">舟越 桂</span><br>
            <span class="desc">壁の上の言葉</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="photo">
        <div class="art">
          <a href="/artists/#s.sano">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_i.jpg" alt="佐野繁次郎">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3181 アトリエ</dt>
          <dd>パピエコレ （布/キャンバス/麻紐のコラージュ、鉛筆・紙）</dd>
          <dd>19.1 × 19.2 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">佐野繁次郎</span><br>
            <span class="desc">アトリエ</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="artists">
        <div class="art">
          <a href="/artists/m.ikeda/page_m_ikeda.html">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_d.jpg" alt="池田 満寿夫">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3681 矩形</dt>
          <dd>ドライポイント・ルーレット</dd>
          <dd>21.0 × 15.0 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">池田 満寿夫</span><br>
            <span class="desc">矩形</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="artists">
        <div class="art">
          <a href="/artists/t.okamoto/page_t_okamoto.html">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_b.jpg" alt="岡本 太郎">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.2760 視る</dt>
          <dd>シルクスクリーン</dd>
          <dd>51.4 × 37.1 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">岡本 太郎</span><br>
            <span class="desc">視る</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="photo">
        <div class="art">
          <a href="/artists/#f.nanbata">
            <img class="load lazyload img-ofi" data-src="/static/img/top/201912_j.jpg" alt="難波田史男">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3698 水中都市4</dt>
          <dd>紙にインク・水彩</dd>
          <dd>21 × 31.8 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">難波田史男</span><br>
            <span class="desc">水中都市4</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

      <!-- START ARTISTS -->
        <div class="photo">
        <div class="art">
          <a href="/artists/#s.osone">
            <img class="load lazyload img-ofi img-full" data-src="/static/img/top/202001.jpg" alt="大曽根俊輔">
          </a>
        </div>
        <dl class="art-info">
          <dt>No.3672　ミニブタ チャコ (寝）</dt>
          <dd>木心乾漆 （漆、胡桃、麻布、漆彩色）</dd>
          <dd>10.5 × 37.7 ×21.1 cm</dd>
        </dl>
        <div class="ttl">
          <h1>
            <span class="title">大曽根俊輔</span><br>
            <span class="desc">ミニブタ チャコ (寝）</span>
          </h1>
        </div>
      </div>
      <!-- END ARTISTS -->

    </div>

    <div class="circle play">
      <span class="cover1"></span>
      <span class="cover2"></span>
    </div>

  </section>

  <!-- START INFORMATION -->
  <section id="info">
    <div id="info-inner">
      <h2>INFORMATION</h2>
      <dl class="fbox">
        <dt>2020.04.18<span>新着情報</span></dt><dd><a href="/artists/#y.domoto" class="next">新しく堂本右美の作品を掲載しました</a></dd>
        <dt>2020.04.16<span>新着情報</span></dt><dd><a href="https://www.instagram.com/gallerysekiryu/" class="next">Instagramで作品を紹介しています</a></dd>
        <dt>2020.03.01<span>新着情報</span></dt><dd><a href="/artists/#s.suga" class="next">新しく菅 創吉の作品を掲載しました</a></dd>
      </dl>
    </div>
  </section>
  <!-- END INFORMATION -->

  <!-- START ARTISTS-COLLECTION -->
  <section id="artists-collection">

    <div class="flex">
      <div id="artists-img">
        <h2>SELECTED ARTISTS</h2>
        <ul class="fbox">
          <li style="background-image:url('/static/img/top/kusama_cambus.png');"></li>
          <li style="background-image:url('/static/img/top/kusama_print.png');"></li>
          <li style="background-image:url('/static/img/top/tatsuno.png'),url('/static/img/top/bg.jpg');"></li>
          <li style="background-image:url('/static/img/top/minami.png');"></li>
          <li style="background-image:url('/static/img/top/fukui.png'),url('/static/img/top/bg.jpg')"></li>
          <li style="background-image:url('/static/img/top/funakoshi.png');"></li>
          <li style="background-image:url('/static/img/top/ikeda.png');"></li>
          <li style="background-image:url('/static/img/top/okamoto.png');"></li>
        </ul>
      </div>

      <div id="artists-list">
        <ul id="pickup">
          <li class="w">
            <strong>草間 彌生</strong>
            <a data-img="/static/img/top/kusama_cambus.png" data-artist="YAYOI KUSAMA" data-text="キャンバス、水彩、<br>コラージュ、オブジェなど" href="/artists/y.kusama/page_y_kusama.html"><span class="arrow">CANVAS, OTHER</span></a>
            <a data-img="/static/img/top/kusama_print.png" data-artist="YAYOI KUSAMA" data-text="70年代末からの版画<br>およそ250種" href="/artists/y.kusama/yk_print1.html"><span class="arrow">PRINT</span></a></li>
          <li style="background-image:url('/static/img/top/bg_sp.jpg');"><a data-img="/static/img/top/tatsuno.png" data-artist="TOEKO TATSUNO" data-text="油彩、ドローイング<br>ほか版画など約30点" href="/artists/t.tatsuno/page_t_tatsuno.html"><span>辰野 登恵子</span></a></li>
          <li><a data-img="/static/img/top/minami.png" data-artist="KEIKO MINAMI" data-text="50-60年代パリ時代の<br>希少な初期作を中心に約50点" href="/artists/k.minami/page_k_minami1.html"><span>南 桂子</span></a></li>
          <li style="background-image:url('/static/img/top/bg_sp.jpg');"><a data-img="/static/img/top/fukui.png" data-artist="RYONOSUKE FUKUI" data-text="60年代半ばまでの10年間に<br>ガリ版で制作した希少な孔版画" href="/artists/r.fukui/page_r_fukui.html"><span>福井 良之助</span></a></li>
  <li><a data-img="/static/img/top/funakoshi.png" data-artist="KATSURA FUNAKOSHI" data-text="初期から最新作まで多技法の<br>版画20点ほかドローイングなど" href="/artists/k.funakoshi/page_k_funakoshi.html"><span>舟越 桂</span></a></li>
          <li><a data-img="/static/img/top/ikeda.png" data-artist="MASUO IKEDA" data-text="60年代半ばまでの<br>ドライポイントなどによる<br>版画" href="/artists/m.ikeda/page_m_ikeda.html"><span>池田 満寿夫</span></a></li>
          <li><a data-img="/static/img/top/okamoto.png" data-artist="TARO OKAMOTO" data-text="生涯のうち手がけた<br>数少ない版画や<br>オブジェなど" href="/artists/t.okamoto/page_t_okamoto.html"><span>岡本 太郎</span></a></li>
        </ul>
      </div>
    </div>

    <div id="artist-name" class="flex">
      <p>YAYOI KUSAMA</p>
      <span>キャンバス、水彩、<br>コラージュ、オブジェなど</span>
    </div>

    <div id="other">
      <h2>OTHER ARTISTS</h2>
      <ul>
        <li><a href="/artists/#ay-o"><span>靉 嘔(Ay-O）</span></a></li>

        <li><a href="/artists/#s.akutagawa"><span>芥川紗織</span></a></li>

        <li><a href="/artists/#a.koeppe"><span>アストリッド・コッペ</span></a></li>

        <li><a href="/artists/#s.aso"><span>麻生三郎</span></a></li>

        <li><a href="/artists/#t.arimoto"><span>有元利夫</span></a></li>

        <li><a href="/artists/#t.ikeda"><span>池田龍雄</span></a></li>

        <li><a href="/artists/#t.isoe"><span>磯江&nbsp;毅</span></a></li>

        <li><a href="/artists/#g.inokuma"><span>猪熊弦一郎</span></a></li>

        <li><a href="/artists/#k.enokura"><span>榎倉康二</span></a></li>

        <li><a href="/artists/#s.osone"><span>大曽根俊輔</span></a></li>

        <li><a href="/artists/#s.ohtake"><span>大竹伸朗</span></a></li>

        <li><a href="/artists/#k.okada"><span>岡田謙三</span></a></li>

        <li><a href="/artists/#j.oyamada"><span>小山田二郎</span></a></li>

        <li><a href="/artists/#y.katsura"><span>桂ゆき</span></a></li>

        <li><a href="/artists/#k.kaneko"><span>金子國義</span></a></li>

        <li><a href="/artists/#r.kamoi"><span>鴨居 玲</span></a></li>

        <li><a href="/artists/#r.kishida"><span>岸田劉生</span></a></li>

        <li><a href="/artists/#y.kuniyoshi"><span>国吉康雄</span></a></li>

        <li><a href="/artists/#s.sano"><span>佐野繁次郎</span></a></li>

        <li><a href="/artists/#r.shimomura"><span>下村良之介</span></a></li>

        <li><a href="/artists/#s.suga"><span>菅 創吉</span></a></li>

        <li><a href="/artists/#s.takiguchi"><span>瀧口修造</span></a></li>

        <li><a href="/artists/#y.domoto"><span>堂本右美</span></a></li>

        <li><a href="/artists/#f.nanbata"><span>難波田史男</span></a></li>

        <li><a href="/artists/#h.noda"><span>野田弘志</span></a></li>

        <li><a href="/artists/#r.hasegawa"><span>長谷川りん二郎</span></a></li>

        <li><a href="/artists/#y.hamaguchi"><span>浜口陽三</span></a></li>

        <li><a href="/artists/#c.hamada"><span>浜田知明</span></a></li>

        <li><a href="/artists/#c.vija"><span>ヴィヤ・セルミンス</span></a></li>

        <li><a href="/artists/#y.funakoshi"><span>舟越保武</span></a></li>

        <li><a href="/artists/#b.shahn"><span>ベン・シャーン</span></a></li>

        <li><a href="/artists/#b.nicholson"><span>ベン・ニコルソン</span></a></li>

        <li><a href="/artists/#s.motonaga"><span>元永定正</span></a></li>

        <li><a href="/artists/#y.yamamoto"><span>山本容子</span></a></li>

        <li><a href="/artists/#s.yotsuya"><span>四谷シモン</span></a></li>

        <li><a href="/artists/#l.freud"><span>ルシアン・フロイド</span></a></li>

        <li><a href="/artists/#o.redon"><span>オディロン・ルドン</span></a></li>

    </ul>
    </div>
  </section>
  <!-- END ARTISTS-COLLECTION -->

  <!-- START EXHIBITION -->
  <section id="exhi" class="flex">
    <h2>EXHIBITIONS</h2>
    <div id="exhi-img">
      <a href="/exhibitions/"><img class="load lazyload img-ofi" data-src="/static/img/top/201909.jpg"></a>
      <dl class="art-info">
        <dt>草間彌生 「地球/Earth」</dt><br>
        <dd>1980年</dd>
        <dd>コラージュ､パステル､ペン･紙</dd>
        <dd>65.2 × 51 cm</dd>
      </dl>
    </div>
    <div id="exhi-text">
      <p></p>
      <p id="exhi-ttl">Biomorphism by women<span>女性たちによる有機的形象</p>
        <div class="date flex">
          <!--   <p class="place">南青山Room</p>
               <p class="md">04.06</p>
               <p class="yaji"></p>
               <p class="md">04.21</p>-->

          <p class="place">ART TAIPEI</p>
          <p class="md">10.18</p>
          <p class="yaji"></p>
          <p class="md">10.21</p>
          <p><a href="https://2019.art-taipei.com/taipei/en/"><img src="/static/img/top/at_logo_1.png" alt="art-taipei" width="200" height="113" border="0"></a></a></p>
        </div>
        <p><a href="/exhibitions/" class="btn">展覧会について</a></p>
    </div>
  </section>

  <!-- START ABOUT -->
  <section id="about" class="flex">
    <h2>ABOUT</h2>
    <div id="about-img">
      <a href="/about/">
        <div class="flex">
          <p><img class="load lazyload" data-src="/static/img/top/about01.jpg">松本</p>
          <p><img class="load lazyload" data-src="/static/img/top/about02.jpg">南青山Room</p>
        </div>
      </a>
    </div>
    <div id="about-text">
      <p>ギャラリー石榴は東京南青山と長野県松本市で営業しています。営業時間、アクセス方法などはこちらからご覧いただけます。</p>
      <p><a href="/about/" class="btn">ギャラリー石榴について</a></p>
    </div>
  </section>
  <!-- END ABOUT -->

  <section class="fbtn">
    <a href="/contact/">
      <h2 class="arrow">CONTACT</h2>
      <p>作品や展覧会へのお問い合わせ</p>
    </a>
  </section>

</article>
<!-- END CONTENTS -->

{% endblock %}
