{% extends "base.html" %}
{% block content %}

<!-- START CONTENTS -->
<article id="right">
  <ul id="pkz">
    <li><a href="/">TOP</a></li>
    <li>NOT FOUND</li>
  </ul>

  <div class="ttl flex">
    <h1>
      <span class="title eng">404 page not found.</span>
      <span class="desc">お探しのページは見つかりませんでした。</span>
    </h1>
  </div>

  <p class="mt4 mt4s">お探しのページは一時的にアクセスができない状況にあるか、移動もしくは削除された可能性があります。</p>
  <p class="mt4 mt4s">ギャラリー石榴のホームページは、2018年1月にリニューアルいたしました。<br class="pc">
    リニューアルに伴い、一部コンテンツのURLが変更になっています。</p>
  <p>ブラウザの再読込みを行ってもこのページが表示される場合は、<br class="pc">
    トップページからリンクをたどってください。</p>
  <section class="fbtn">
    <a href="/">
      <h2 class="arrow">TOP</h2>
      <p>トップページへ</p>
    </a>
  </section>
</article>
<!-- END CONTENTS -->

{% endblock %}
